.RadDropDownList_VirtualiaSkin {
    color: #000;
    font-family: "Calibri","Noto",sans-serif
}
    .RadDropDownList_VirtualiaSkin .rddlInner {
        border-color: #ccc;
        color: #333;
        background-color: #fff;
        padding-top: 6px;
        padding-bottom: 6px;
        border-radius: 4px
    }
    .RadDropDownList_VirtualiaSkin .rddlSelect {
        padding-top: 6px;
        padding-bottom: 6px
    }
    .RadDropDownList_VirtualiaSkin .rddlHovered {
        border-color: #adadad;
        color: #333;
        background-color: #e6e5e5
    }
    .RadDropDownList_VirtualiaSkin .rddlFocused {
        border-color: #adadad;
        color: #333;
        background-color: #e6e5e5;
        box-shadow: 0 3px 3px rgba(0,0,0,0.08) inset
    }
.rddlPopup_VirtualiaSkin {
    border-color: #dedede;
    color: #000;
    background-color: #fff;
    margin-top: 2px;
    border-radius: 4px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif
}
    .rddlPopup_VirtualiaSkin .rddlList {
        padding: 5px 0;
        box-sizing: border-box
    }
    .rddlPopup_VirtualiaSkin .rddlItem {
        padding: 3px 12px
    }
    .rddlPopup_VirtualiaSkin .rddlItemHovered, .rddlPopup_VirtualiaSkin .rddlItemLoading {
        color: #000;
        background-color: #eee
    }
    .rddlPopup_VirtualiaSkin .rddlItemSelected {
        color: #fff;
        background-color: #09b7c4
    }
