﻿<%@ Control Language="vb" AutoEventWireup="false" CodeBehind="VReferentiel.ascx.vb" Inherits="Virtualia.Net.VReferentiel" %>

<link href="../../VirtualiaSkin/Label.VirtualiaSkin.css" rel="stylesheet" type="text/css" />
<link href="../../VirtualiaSkin/Textbox.VirtualiaSkin.css" rel="stylesheet" type="text/css" />

<style type="text/css">
    .LaLettre
    {  
        background-color:#124545;
        color:#D7FAF3;
        border-color:#B0E0D7;
        border-style:inset;
        border-width:2px;
        font-family:'Calibri';
        font-size:small;
        font-style:normal;
        font-weight:bold;
        text-indent:0px;
        text-align:center;
        margin-top:0px;
        margin-left:0px;
        margin-bottom:0px;
        padding-left:2px;
        vertical-align:middle;
        word-wrap:normal;
        height:24px;
        width:24px;
    }
    .Loption
    {  
        background-color:#7D9F99;
        color:#E9FDF9;
        border-color:#B0E0D7;
        border-style:inset;
        border-width:2px;
        font-family:'Trebuchet MS';
        font-size:small;
        font-style:oblique;
        font-weight:bold;
        margin-top:0px;
        margin-left:0px;
        margin-bottom:0px;
        padding-left:2px;
        text-align:left;
        text-indent:5px;
        vertical-align:middle;
        word-wrap:normal;
        height:20px;
        width:220px;
    }
</style>

<asp:Table ID="CadreReferentiel" runat="server" BackColor="White" BorderColor="#B0E0D7" BorderStyle="Ridge" BorderWidth="4px" Width="630px">
    <asp:TableRow>
        <asp:TableCell HorizontalAlign="Center">
            <asp:Table ID="CadreHaut" runat="server">
                <asp:TableRow>
                    <asp:TableCell ID="CellTitre">
                        <telerik:RadLabel ID="EtiTitre" runat="server" Height="25px" Width="600px" BackColor="#03A9F4" Visible="true"  BorderStyle="Inset" BorderWidth="2px" ForeColor="White" 
                            Font-Bold="False" Text="Référentiel" Style="font-style:oblique; text-align:center; vertical-align: middle"   />
                    </asp:TableCell>
                    <asp:TableCell>
                        <telerik:RadButton ID="CommandeRetour" runat="server" Height="30px" Width="30px" BackColor="#03A9F4" ForeColor="Black"
                            BorderStyle="None" BorderColor="#216B68" BorderWidth="1px" Text=" x" ToolTip="Fermer" Font-Bold="true"
                            style="margin-top:0px;text-indent:0px; text-align:center; vertical-align: middle" />
                    </asp:TableCell>
                </asp:TableRow>
            </asp:Table>
        </asp:TableCell>
    </asp:TableRow>
    <asp:TableRow>
        <asp:TableCell>
            <asp:Table ID="CadreLettre" runat="server" CellPadding="0" CellSpacing="0" HorizontalAlign="Center">
<%--                <asp:TableRow>
                    <asp:TableCell>
                        <telerik:RadSlider runat="server" ID="RadSlider1" Orientation="Horizontal" ForeColor="#03A9F4" ItemType="Item" Skin="Silk" EnableEmbeddedSkins="true" Width="580px" Value="2">
                            <Items>
                                <telerik:RadSliderItem Text="A" Value="A" runat="server"/>
                                <telerik:RadSliderItem Text="B" Value="B" runat="server"/>
                                <telerik:RadSliderItem Text="C" Value="C" runat="server"/>
                                <telerik:RadSliderItem Text="D" Value="D" runat="server"/>
                                <telerik:RadSliderItem Text="E" Value="E" runat="server"/>
                                <telerik:RadSliderItem Text="F" Value="F" runat="server"/>
                                <telerik:RadSliderItem Text="G" Value="G" runat="server"/>
                                <telerik:RadSliderItem Text="H" Value="H" runat="server"/>
                                <telerik:RadSliderItem Text="I" Value="I" runat="server"/>
                                <telerik:RadSliderItem Text="J" Value="J" runat="server"/>
                                <telerik:RadSliderItem Text="K" Value="K" runat="server"/>
                                <telerik:RadSliderItem Text="L" Value="L" runat="server"/>
                                <telerik:RadSliderItem Text="M" Value="M" runat="server"/>
                                <telerik:RadSliderItem Text="N" Value="N" runat="server"/>
                                <telerik:RadSliderItem Text="O" Value="O" runat="server"/>
                                <telerik:RadSliderItem Text="P" Value="P" runat="server"/>
                                <telerik:RadSliderItem Text="Q" Value="Q" runat="server"/>
                                <telerik:RadSliderItem Text="R" Value="R" runat="server"/>
                                <telerik:RadSliderItem Text="S" Value="S" runat="server"/>
                                <telerik:RadSliderItem Text="T" Value="T" runat="server"/>
                                <telerik:RadSliderItem Text="U" Value="U" runat="server"/>
                                <telerik:RadSliderItem Text="V" Value="V" runat="server"/>
                                <telerik:RadSliderItem Text="W" Value="W" runat="server"/>
                                <telerik:RadSliderItem Text="X" Value="X" runat="server"/>
                                <telerik:RadSliderItem Text="Y" Value="Y" runat="server"/>
                                <telerik:RadSliderItem Text="Z" Value="Z" runat="server"/>
                                <telerik:RadSliderItem Text="All" Value="All" runat="server"/>
                            </Items>
                        </telerik:RadSlider>
                    </asp:TableCell>
                    </asp:TableRow>--%>
                    <asp:TableRow>
                    <asp:TableCell>
                        <asp:Button ID="ButtonA" runat="server" Text="A" CssClass="LaLettre" />
                    </asp:TableCell>
                    <asp:TableCell>
                        <asp:Button ID="ButtonB" runat="server" Text="B" CssClass="LaLettre" />
                    </asp:TableCell>
                    <asp:TableCell>
                        <asp:Button ID="ButtonC" runat="server" Text="C" CssClass="LaLettre" />
                    </asp:TableCell>
                    <asp:TableCell>
                        <asp:Button ID="ButtonD" runat="server" Text="D" CssClass="LaLettre" />
                    </asp:TableCell>
                    <asp:TableCell>
                        <asp:Button ID="ButtonE" runat="server" Text="E" CssClass="LaLettre" />
                    </asp:TableCell>
                    <asp:TableCell>
                        <asp:Button ID="ButtonF" runat="server" Text="F" CssClass="LaLettre" />
                    </asp:TableCell>
                    <asp:TableCell>
                        <asp:Button ID="ButtonG" runat="server" Text="G" CssClass="LaLettre" />
                    </asp:TableCell>
                    <asp:TableCell>
                        <asp:Button ID="ButtonH" runat="server" Text="H" CssClass="LaLettre" />
                    </asp:TableCell>
                    <asp:TableCell>
                        <asp:Button ID="ButtonI" runat="server" Text="I" CssClass="LaLettre" />
                    </asp:TableCell>
                    <asp:TableCell>
                        <asp:Button ID="ButtonJ" runat="server" Text="J" CssClass="LaLettre" />
                    </asp:TableCell>
                    <asp:TableCell>
                        <asp:Button ID="ButtonK" runat="server" Text="K" CssClass="LaLettre" />
                    </asp:TableCell>
                    <asp:TableCell>
                        <asp:Button ID="ButtonL" runat="server" Text="L" CssClass="LaLettre" />
                    </asp:TableCell>
                    <asp:TableCell>
                        <asp:Button ID="ButtonM" runat="server" Text="M" CssClass="LaLettre" />
                    </asp:TableCell>
                    <asp:TableCell>
                        <asp:Button ID="ButtonN" runat="server" Text="N" CssClass="LaLettre" />
                    </asp:TableCell>
                    <asp:TableCell>
                        <asp:Button ID="ButtonO" runat="server" Text="O" CssClass="LaLettre" />
                    </asp:TableCell>
                    <asp:TableCell>
                        <asp:Button ID="ButtonP" runat="server" Text="P" CssClass="LaLettre" />
                    </asp:TableCell>
                    <asp:TableCell>
                        <asp:Button ID="ButtonQ" runat="server" Text="Q" CssClass="LaLettre" />
                    </asp:TableCell>
                    <asp:TableCell>
                        <asp:Button ID="ButtonR" runat="server" Text="R" CssClass="LaLettre" />
                    </asp:TableCell>
                    <asp:TableCell>
                        <asp:Button ID="ButtonS" runat="server" Text="S" CssClass="LaLettre" />
                    </asp:TableCell>
                    <asp:TableCell>
                        <asp:Button ID="ButtonT" runat="server" Text="T" CssClass="LaLettre" />
                    </asp:TableCell>
                    <asp:TableCell>
                        <asp:Button ID="ButtonU" runat="server" Text="U" CssClass="LaLettre" />
                    </asp:TableCell>
                    <asp:TableCell>
                        <asp:Button ID="ButtonV" runat="server" Text="V" CssClass="LaLettre" />
                    </asp:TableCell>
                    <asp:TableCell>
                        <asp:Button ID="ButtonW" runat="server" Text="W" CssClass="LaLettre" />
                    </asp:TableCell>
                    <asp:TableCell>
                        <asp:Button ID="ButtonX" runat="server" Text="X" CssClass="LaLettre" />
                    </asp:TableCell>
                    <asp:TableCell>
                        <asp:Button ID="ButtonY" runat="server" Text="Y" CssClass="LaLettre" />
                    </asp:TableCell>
                    <asp:TableCell>
                        <asp:Button ID="ButtonZ" runat="server" Text="Z" CssClass="LaLettre" />
                    </asp:TableCell>
                    <asp:TableCell>
                        <asp:Button ID="ButtonTout" runat="server" Text="@" CssClass="LaLettre" />
                    </asp:TableCell>
                </asp:TableRow>
            </asp:Table>
        </asp:TableCell>
    </asp:TableRow>
    <asp:TableRow>
        <asp:TableCell>
            <asp:Table ID="CadreRecherche" runat="server" CellPadding="0" CellSpacing="0" HorizontalAlign="Center">
                <asp:TableRow>
                    <asp:TableCell>
                        <telerik:RadLabel ID="EtiRecherche" runat="server" Height="20px" Width="80px" Text="Aller à" ForeColor="Black" 
                            Font-Italic="true" Style="margin-top:0px; text-indent:5px; text-align:center" />
                    </asp:TableCell>
                    <asp:TableCell>
                        <telerik:RadTextBox ID="VRecherche" runat="server" BackColor="Snow" BorderColor="#B0E0D7" BorderStyle="Inset" BorderWidth="1px" Height="16px" Width="210px" Font-Bold="false" ForeColor="#124545" 
                            Style="margin-left:2px;"/>
                    </asp:TableCell>
                    <asp:TableCell>
                        <telerik:RadButton ID="CmdRecherche" runat="server" Height="17px" BorderColor="#B0E0D7" BorderStyle="Outset" BorderWidth="2px" ImageAlign="Middle" ToolTip="Recherche d'une valeur" Skin="Silk" EnableEmbeddedSkins="true"
                            Style="margin-right:10px;margin-bottom:0px">
                               <Icon PrimaryIconCssClass="rbSearch" />
                                </telerik:RadButton>
                    </asp:TableCell>
                    <asp:TableCell>
                        <telerik:RadButton ID="CommandeBlanc" runat="server" Text="Remettre à blanc" Width="150px" Height="24px" Skin="Silk" EnableEmbeddedSkins="true" Visible="true" 
                            Font-Bold="False" BorderStyle="Outset" Style="margin-left:2px; text-align: center;" ToolTip="Remettre à blanc la donnée sélectionnée" />
                    </asp:TableCell>
                </asp:TableRow>
            </asp:Table>
        </asp:TableCell>
    </asp:TableRow>
    <asp:TableRow>
        <asp:TableCell>
            <asp:Table ID="CadreControle" runat="server" HorizontalAlign="Center" Style="margin-top:5px;margin-top:1px;background-attachment: inherit;display:table-cell;">
                    <asp:TableRow>
                        <asp:TableCell>
                            <asp:Table ID="CadreRadio" runat="server" HorizontalAlign="Center">
                                <asp:TableRow>
                                    <asp:TableCell>
                                        <asp:RadioButton ID="RadioV0" runat="server" Text="Liste alphabétique" AutoPostBack="true" GroupName="OptionV" Checked="true" CssClass="Loption" Width="200px"/>
                                    </asp:TableCell>
                                    <asp:TableCell>
                                        <asp:RadioButton ID="RadioV1" runat="server" Text="Liste organisée" AutoPostBack="true" GroupName="OptionV" CssClass="Loption" Width="200px"/>
                                    </asp:TableCell>
                                    <asp:TableCell>
                                        <asp:RadioButton ID="RadioV2" runat="server" Text="Liste par référence" AutoPostBack="true" GroupName="OptionV" CssClass="Loption" Width="200px"/>
                                    </asp:TableCell>
                                </asp:TableRow>
                            </asp:Table>
                        </asp:TableCell>
                    </asp:TableRow>
                    <asp:TableRow>
                        <asp:TableCell ID="CellCommandes" Visible="false">
                            <asp:Table ID="CadreCommandes" runat="server" Height="22px" CellPadding="0" CellSpacing="0" BackImageUrl="~/Images/Boutons/NewSuppOK_Std.bmp" 
                                BorderWidth="2px" BorderStyle="Outset" BorderColor="#B0E0D7" ForeColor="#FFF2DB" HorizontalAlign="Right" Style="margin-top:3px; margin-right:0px" Visible="true">
                                <asp:TableRow VerticalAlign="Top">
                                    <asp:TableCell HorizontalAlign="Right">
                                        <asp:Button ID="CommandeNew" runat="server" Text="Nouveau" Width="68px" Height="20px" BackColor="Transparent" BorderStyle="None"  
                                            BorderColor="#B0E0D7" ForeColor="#E9FDF9" Font-Bold="False" Font-Names="Trebuchet MS" Font-Size="Small" Font-Italic="true" 
                                            Style="margin-left:10px;text-align:center;border-right-style:outset;border-right-width:3px" ToolTip="Nouvelle fiche" />
                                    </asp:TableCell>
                                    <asp:TableCell HorizontalAlign="Right">
                                        <asp:Button ID="CommandeSupp" runat="server" Text="Supprimer" Width="68px" Height="20px" BackColor="Transparent" 
                                            BorderColor="#B0E0D7" ForeColor="#E9FDF9" Font-Bold="False" Font-Names="Trebuchet MS" Font-Size="Small" Font-Italic="true" BorderStyle="None" 
                                            Style="margin-left:15px;text-align:center;" ToolTip="Supprimer la fiche" />
                                    </asp:TableCell>
                                </asp:TableRow>
                            </asp:Table>
                        </asp:TableCell>
                    </asp:TableRow>
                    <asp:TableRow>
                        <asp:TableCell BackColor="Snow">
                            <asp:Panel ID="PanelListe" runat="server" Height="500px" ScrollBars="Auto" style="text-align:left;">
                                <asp:TreeView ID="TreeListeRef" runat="server" MaxDataBindDepth="2" BorderStyle="None" BorderWidth="2px" BorderColor="#CCFFCC" 
                                    ForeColor="#124545" Font-Names="Trebuchet MS" Width="590px" Height="480px" Font-Bold="False" NodeIndent="10" 
                                    BackColor="Snow" ImageSet="XPFileExplorer" Font-Size="Small" Font-Italic="true" RootNodeStyle-HorizontalPadding="10px" LeafNodeStyle-HorizontalPadding="10px" 
                                    Style="margin-bottom: 1px; margin-left: 30px; display: table-cell">
                                    <SelectedNodeStyle BackColor="#6C9690" BorderColor="#BFB8AB" BorderStyle="Solid" BorderWidth="1px" ForeColor="White" />
                                    <Nodes>
                                        <asp:TreeNode PopulateOnDemand="False" Text="Système de référence" Value="SystemeReference" ImageUrl="~/Images/Armoire/VertFonceOuvert16.bmp" />
                                    </Nodes>
                                </asp:TreeView>
                            </asp:Panel>
                        </asp:TableCell>
                        </asp:TableRow>
                        <asp:TableRow>
                            <asp:TableCell>
                            <asp:Label ID="EtiStatus1" runat="server" Height="16px" Width="635px" BackColor="#B0E0D7" Visible="true" BorderColor="#B0E0D7" BorderStyle="None" ForeColor="#124545" 
                                Font-Bold="False" Font-Names="Trebuchet MS" Font-Size="Small" Font-Italic="true" Style="text-align:center" />
                        </asp:TableCell>
                        </asp:TableRow>
                </asp:Table>
        </asp:TableCell>
    </asp:TableRow>
</asp:Table>
   

   