.t-reset {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0 none;
  font-size: 1em;
  text-decoration: none;
  list-style: none; }

.t-hidden {
  display: none !important; }

.t-widget {
  border-width: 1px;
  border-style: solid;
  box-sizing: border-box; }

.t-link {
  outline: 0;
  text-decoration: none;
  cursor: pointer; }

.t-button {
  margin: 0;
  padding: 6px;
  border-width: 1px;
  border-style: solid;
  line-height: 1.42857143;
  font-family: inherit;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  outline: 0;
  position: relative; }
  .t-button::-moz-focus-inner {
    padding: 0;
    border: 0; }

.t-input {
  outline: 0; }

.t-link > .t-icon,
.t-button > .t-icon {
  vertical-align: middle;
  margin-top: -3px; }

.RadControl .t-button,
.RadGrid .t-button,
.RadTreeList .t-button,
.RadCalendar .t-button {
  vertical-align: middle;
  font: inherit; }

.RadControl .t-button-icontext .t-text,
.RadGrid .t-button-icontext .t-text,
.RadTreeList .t-button-icontext .t-text,
.RadCalendar .t-button-icontext .t-text {
  display: table-cell;
  padding: 0 6px 0 5px; }

.RadControl_Bootstrap .t-button,
.RadGrid_Bootstrap .t-button,
.RadTreeList_Bootstrap
.RadCalendar_Bootstrap .t-button {
  padding: 6px; }

.t-tabstrip {
  margin: 0;
  padding: 0;
  position: relative; }

.t-tabstrip-items {
  padding: 4px 4px 0; }

.t-tabstrip-bottom > .t-tabstrip-items {
  margin-top: -1px;
  padding: 0 4px 4px; }

.t-tabstrip-items .t-item {
  margin: 0 -1px 0 0;
  padding: 0;
  border-width: 1px 1px 0;
  border-style: solid;
  list-style-type: none;
  display: inline-block;
  vertical-align: top;
  position: relative; }

.t-tabstrip-bottom > .t-tabstrip-items .t-item {
  border-width: 0 1px 1px;
  border-radius: 0 0 4px 4px; }

.t-tabstrip-items .t-link {
  padding: 6px 15px;
  display: inline-block;
  vertical-align: middle; }

.t-button.t-flat {
  border-color: transparent !important;
  color: inherit;
  background: none !important;
  box-shadow: none !important;
  transition: color .2s ease-in-out; }
  .t-button.t-flat:hover, .t-button.t-flat.t-state-hover, .t-button.t-flat:active, .t-button.t-flat.t-state-active, .t-button.t-flat:hover:active, .t-button.t-flat:hover.t-state-active {
    color: inherit; }
  .t-button.t-flat::before {
    display: block; }

.t-button::before {
  border-radius: inherit;
  content: "";
  background: currentColor;
  opacity: 0;
  display: none;
  pointer-events: none;
  position: absolute;
  left: -1px;
  right: -1px;
  top: -1px;
  bottom: -1px;
  z-index: 0;
  transition: opacity .2s ease-in-out; }

.t-button:hover::before, .t-button.t-state-hover::before {
  opacity: 0.08; }

.t-button.t-no-focus:not(:hover)::before, .t-button.t-no-focus:not(.t-state-hover)::before {
  opacity: 0; }

.t-button:active::before, .t-button.t-state-active::before {
  opacity: 0.16; }

.t-button.t-state-selected::before {
  opacity: 0.2; }

.k-dirty {
  margin: 0;
  padding: 0;
  width: 0;
  height: 0;
  border-width: 3px;
  border-style: solid;
  position: absolute;
  top: 0;
  right: 0; }

.k-overlay {
  display: none;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: .5;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10001; }

.k-reset {
  margin: 0;
  padding: 0;
  border: 0;
  background: none;
  list-style: none; }
