.k-popup {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin: 0;
  padding: 0 0;
  border-width: 1px;
  border-style: solid;
  font-size: 14px;
  line-height: 1.42857143;
  box-sizing: content-box; }
  .k-popup > .k-widget {
    border-width: 0; }
  .k-popup .k-item {
    cursor: pointer;
    outline: none; }
  .k-popup .k-rtl .k-list-optionlabel,
  [dir="rtl"] .k-popup .k-list-optionlabel {
    text-align: right; }

.k-animation-container {
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px; }

.k-animation-container-shown {
  overflow: visible; }

.k-popup .k-item.k-first {
  position: relative; }

.k-popup > .k-group-header,
.k-popup > .k-virtual-wrap > .k-group-header {
  padding: 4px 8px;
  min-height: 1.42857143em;
  white-space: normal;
  transition: background-color 0.2s ease;
  border-bottom-width: 1px;
  border-bottom-style: solid; }

.k-popup > .k-group-header {
  margin-top: 0; }

.k-popup .k-outer-group-header {
  padding: 4px 8px;
  min-height: 1.42857143em;
  white-space: normal; }
  .k-popup .k-outer-group-header.k-virtual-item {
    white-space: nowrap;
    text-overflow: ellipsis; }

.k-popup .k-list .k-item > .k-group {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 .5em;
  font-size: 9.996px;
  line-height: 14px;
  text-transform: uppercase; }

.k-popup .k-list .k-item > .k-group::before {
  display: block;
  content: " ";
  border-width: 7px;
  border-style: solid;
  position: absolute;
  left: -14px;
  bottom: 0; }

.k-rtl.k-popup .k-list .k-item > .k-group,
[dir="rtl"] .k-popup .k-list .k-item > .k-group {
  right: auto;
  left: 0; }
  .k-rtl.k-popup .k-list .k-item > .k-group::before,
  [dir="rtl"] .k-popup .k-list .k-item > .k-group::before {
    right: -14px;
    left: auto; }

.k-rtl.k-popup .k-list .k-item > .k-group,
[dir="rtl"] .k-popup .k-list .k-item > .k-group {
  right: auto;
  left: 0; }
  .k-rtl.k-popup .k-list .k-item > .k-group::before,
  [dir="rtl"] .k-popup .k-list .k-item > .k-group::before {
    right: -14px;
    left: auto; }

.k-group-header + div > .k-list > .k-item.k-first::before {
  content: " ";
  display: block;
  border-top-width: 1px;
  border-top-style: solid;
  position: absolute;
  top: -1px;
  left: 0;
  right: 0; }

.k-popup .k-list > .k-outer-group-header {
  border-top-width: 1px;
  border-top-style: solid; }

.k-popup.k-popup-transparent {
  border-width: 0;
  background-color: transparent; }

.k-popup.k-popup-flush {
  padding: 0; }

.k-list-scroller {
  position: relative;
  overflow: auto; }

.k-list {
  height: auto; }
  .k-list > .k-item {
    display: flex;
    align-items: center;
    align-content: center; }
    .k-list > .k-item > .k-icon {
      align-self: center;
      margin-right: 8px; }
  .k-list > .k-custom-item {
    font-style: italic; }
    .k-list > .k-custom-item > .k-i-plus {
      margin-left: auto;
      margin-right: 0; }

.k-list .k-item,
.k-list-optionlabel {
  padding: 4px 8px;
  min-height: 1.42857143em;
  line-height: 1.42857143em;
  white-space: normal; }

.k-list-optionlabel {
  cursor: pointer;
  outline: none; }

.k-list-filter {
  display: block;
  position: relative;
  padding: 8px;
  min-height: calc( 16px + 1.42857143em + 8px);
  box-sizing: border-box;
  flex: 1 0 auto; }
  .k-list-filter > .k-textbox {
    width: 100% !important;
    box-sizing: border-box;
    padding-left: 4px;
    padding-right: calc( 16px + 8px); }
  .k-list-filter > .k-icon {
    position: absolute;
    right: calc( 4px + 8px);
    top: 50%;
    transform: translateY(-50%); }
  .k-rtl .k-list-filter > .k-textbox,
  [dir="rtl"] .k-list-filter > .k-textbox {
    padding-right: 4px;
    padding-left: calc( 16px + 8px); }
  .k-rtl .k-list-filter > .k-icon,
  [dir="rtl"] .k-list-filter > .k-icon {
    left: calc( 4px + 8px);
    right: auto; }

.k-dropdown-button .k-popup .k-item {
  cursor: pointer; }

.k-split-button .k-list .k-item:focus,
.k-dropdown-button .k-list .k-item:focus {
  outline: none; }
