.k-textbox,
.k-input.k-textbox,
.k-textarea {
  padding: 4px 6px;
  width: 200px;
  box-sizing: border-box;
  border-width: 1px;
  border-style: solid;
  outline: 0;
  font: inherit;
  font-size: 14px;
  line-height: 1.42857143;
  display: inline-flex;
  vertical-align: middle;
  position: relative;
  -webkit-appearance: none; }
  .k-textbox:disabled, .k-textbox[disabled], .k-textbox.k-state-disabled,
  .k-input.k-textbox:disabled,
  .k-input.k-textbox[disabled],
  .k-input.k-textbox.k-state-disabled,
  .k-textarea:disabled,
  .k-textarea[disabled],
  .k-textarea.k-state-disabled {
    outline: none;
    cursor: default;
    opacity: .6;
    filter: grayscale(0.1);
    pointer-events: none; }

.k-textbox,
.k-input.k-textbox {
  height: calc( 2px + 8px + 1.42857143em); }

.k-textarea {
  width: 18em;
  min-height: calc( 2px + 8px + 1.42857143em); }

.k-maskedtextbox {
  display: inline-flex;
  border-width: 0; }
  .k-maskedtextbox .k-textbox {
    flex: 1 0 0%;
    min-width: 0; }

.k-input,
.k-textbox > input {
  padding: 0;
  width: 100%;
  box-sizing: border-box;
  border: 0;
  outline: 0;
  color: inherit;
  background: none;
  font: inherit;
  font-size: 14px;
  flex: 1;
  display: flex;
  align-items: center;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-appearance: none; }

.k-input::-ms-clear,
.k-textbox > input::-ms-clear,
.k-textbox::-ms-clear {
  display: none; }

.k-textbox:focus {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.03), 0 4px 5px 0 rgba(0, 0, 0, 0.04); }

.k-input-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc( 16px + 8px); }
  .k-ie9 .k-input-icon {
    position: absolute;
    height: 100%;
    right: 0;
    top: 0; }
  .k-ie9 .k-rtl .k-input-icon, .k-ie9
  [dir="rtl"] .k-input-icon {
    left: 0;
    right: auto; }
