.k-window {
  border-radius: 0;
  padding: 0;
  border-width: 0;
  border-style: solid;
  display: inline-flex;
  flex-direction: column;
  position: absolute;
  z-index: 10002; }

.k-window.k-window-maximized {
  max-width: 100vw;
  max-height: 100vh;
  box-shadow: none; }

.k-window-sm {
  width: 300px; }

.k-window-md {
  width: 800px; }

.k-window-lg {
  width: 1200px; }

.k-window-titlebar {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  padding: 8px 8px;
  border-width: 0 0 1px;
  border-style: solid;
  white-space: nowrap;
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  align-items: center; }

.k-window-title {
  margin: 0;
  font-size: 16px;
  line-height: 1.05263158;
  text-overflow: ellipsis;
  overflow: hidden;
  cursor: default;
  flex: 1;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap; }
  .k-window-title::before {
    content: "\200b"; }

.k-window-actions {
  margin: calc( -1 * ( 4px + 1px ));
  line-height: 1;
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  align-items: center;
  vertical-align: top; }

.k-window-content,
.k-prompt-container {
  padding: 16px 16px;
  border-width: 0;
  color: inherit;
  background: none;
  outline: 0;
  overflow: auto;
  position: relative;
  flex: 1 1 auto; }

.k-window-content + .k-prompt-container {
  margin-top: -8px; }

.k-window-iframecontent {
  padding: 0;
  overflow: visible; }
  .k-window-iframecontent .k-content-frame {
    vertical-align: top;
    border: 0;
    width: 100%;
    height: 100%; }
